<div class="container col col-sm-7">

    <div class="container signup-success">

        <div class="container"></div>
        <h3>Sign Up success</h3>

        <p>You still need to add a location and the services or pruducts you offer to complete your account though</p>

        <div class="button-section">

            <button type="button" class="btn btn-primary add-detail">Add location</button>
            <br>
            <button type="button" class="btn btn-primary add-detail">Add Product</button>
            <br>
            <button type="button" class="btn btn-primary add-detail">Add Service</button>

        </div>

    </div>

</div>